<router-outlet></router-outlet>

<div class="fixed-bottom d-flex justify-content-center animated pulse  slow" style="height: 3.5rem; animation-iteration-count: 2; cursor: pointer; z-index: 999;" [ngClass]="bgRef.BG">
    <div style="font-size:large; font-weight: bold; font-family: monospace; padding: 10px; padding-right: 20px; ">
        <a class="btn" href="https://www.youtube.com/channel/UCibrpNlsPs3wa1TfGya6Eyw?view_as=subscriber" target="_blank" [ngClass]="bgRef.BTN">
            Please Like and Subscribe  
            <span class="badge badge-danger badge-pill" style="font-size: large">
                <fa-icon [icon]="faYoutube"></fa-icon>
            </span> 
        </a> 
    </div> 
</div>