<div [ngClass]="appTheme">

<mat-toolbar color="primary" class="sticky-top mat-elevation-z4" style="z-index:99">  
    <mat-toolbar-row>
        <a routerLink="/" mat-button>
            <mat-icon style="height:28px;">home</mat-icon>
            Kode Room
        </a>
        <span class="example-spacer"></span>
        
        <mat-menu #appMenu="matMenu" >
            <div fxLayout="row wrap" style="max-width: 100px;">
                <button mat-menu-item fxFlex="50" fxLayout="row" fxLayoutAlign="center center"  *ngFor="let item of appThemeList" (click)="changeTheme(item)" >
                    <mat-icon class="example-icon" [style.color]="item.color" >lens</mat-icon> 
                </button>
            </div>
        </mat-menu>
        
        <a href="/aug-18" mat-button>
            AUG 18
        </a>
        
        <button matTooltip="Select a theme." mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon class="example-icon">format_color_fill</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>

<mat-toolbar color="primary" class="footer" style="z-index:99">  
    <mat-toolbar-row>
        <button mat-button>Koder Room Footer</button>
    </mat-toolbar-row>
</mat-toolbar>
</div>