/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    box-sizing: border-box;
}

body { 
    min-height: 93vh; 
    margin: 0; 
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    position: relative;
}

/** POSITION **/
.kr-fixed-top{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 60px;
}


/**  HEIGHT UTIL **/
.kr-h50{
    height: 50vh;
}

.kr-h100{
    height: 100vh;
}


/** MARGIN UTIL **/
.kr-mt-1{
    margin-top:1px;
}

.kr-mt-2{
    margin-top:2px;
}

.kr-my-1{
    margin-top:1px;
    margin-bottom:1px;
}

.kr-my-2{
    margin-top:2px;
    margin-bottom:2px;
}


/** CENTER-UTIL **/
.kr-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/** FOOTER **/
.header{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}