
.kr-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kr-style-1{
    height: 100px; 
    border-radius: 2px;

    background: royalblue;
    color: white;

    font-family: cursive;
    font-size: xx-large;
    font-weight: bolder;
}