
<!-- PAGE CONTENT -->
<div fxLayout="row" fxLayoutAlign="center start" style="margin-top:2px;">
  
    <div fxFlex="60" fxFlex.lt-md="100"  fxLayout="column">
        <mat-toolbar color="primary" >  
            <mat-toolbar-row>
                <section class="mat-typography">
                    <a [routerLink]="comp.routerLink" mat-button class="mat-subheading-2" style="white-space: normal; line-height: 20px;">
                        {{comp.title}}
                    </a>
                </section>  
            </mat-toolbar-row>
        </mat-toolbar> 


        <mat-card>
            <mat-card-content>
                <article class="mat-typography" style="text-align:justify;">
                    <p class="mat-subheading-2" >
                        Placing element/tag at the center of the screen is very common need while designing a layout. 
                        CSS <mark>Flexbox</mark> is the easiest way to achieve the same. It has advantage over other apporach. 
                        The avantage is, <mark>responsive</mark> nature of applicatoin remain intact, by not using hardcoded 
                        margin and padding values. 
                    </p>

                    <p class="mat-subheading-2">
                        To achieve our requirement, we have to understand how much area our element is taking. I mean 
                        the height and width of the division block. let's suppose in our application is very simple with 
                        one divsion block, with height and width both 100%. 
                    </p>

                    <p class="mat-subheading-2">
                        Let's have a look at the below HTML code. 
                    </p>
                </article>

                <section>
                    <pre><code highlight [code]="comp.code1"></code></pre>
                </section>

                <p class="mat-subheading-2">
                    Let's decode the above program. The body tag has one div block with three class. 
                </p>

                <section>
                        <pre><code highlight [code]="comp.code2"></code></pre>
                </section>

                <article class="mat-typography">
                    <p class="mat-subheading-2">
                        The above css class describe the working area. It is full screen. 
                    </p>
                </article>

                <section>
                    <pre><code highlight [code]="comp.code3"></code></pre>
                </section>

                <article class="mat-typography">
                    <p class="mat-subheading-2">
                        The above block of CSS class is the key. 
                        The css propery <mark>justify-content:center</mark> place the data 
                        element to center along the x-axis. And the <mark>align-items:center</mark> place the data element to center along y-axis. 
                    </p>
                </article>

                <section>
                        <pre><code highlight [code]="comp.code4"></code></pre>
                </section>
    
                <article class="mat-typography">
                    <p class="mat-subheading-2">
                        The above css class is used only to beautify the output. 
                    </p>
                </article>

            </mat-card-content>

            <mat-card-content>
                <summary>
                    <mat-chip-list>
                        <mat-chip *ngFor="let item of comp.chipsList">{{item}}</mat-chip>
                    </mat-chip-list>
                </summary>
            </mat-card-content>

            <mat-divider></mat-divider>
            
            <!-- CARD ACTION SECTIONS -->
            <mat-card-actions>
                <button mat-button>{{comp.linkDemo.title}}</button>
                <button mat-button>{{comp.linkSource.title}}</button>
                <button mat-button>{{comp.linkYoutube.title}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>