
<!-- PAGE CONTENT -->
<div fxLayout="row" fxLayoutAlign="center start" style="margin-top:2px;">
  
    <div fxFlex="60" fxFlex.lt-md="100"  fxLayout="column">
        <mat-toolbar color="primary" >  
            <mat-toolbar-row>
                <section class="mat-typography">
                    <a [routerLink]="comp.routerLink" mat-button class="mat-subheading-2" style="white-space: normal;">
                        {{comp.title}}
                    </a>
                </section>  
            </mat-toolbar-row>
        </mat-toolbar> 


        <mat-card>
            <mat-card-content>
                <article class="mat-typography">
                    <p class="mat-subheading-2">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </article>

                <section>
                    <pre><code highlight [code]="comp.code1"></code></pre>
                </section>

                <section>
                    <pre><code highlight [code]="comp.code2"></code></pre>
                </section>

                <article class="mat-typography">
                    <p class="mat-subheading-2">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </article>
            </mat-card-content>

            <mat-card-content>
                <summary>
                    <mat-chip-list>
                        <mat-chip *ngFor="let item of comp.chipsList">{{item}}</mat-chip>
                    </mat-chip-list>
                </summary>
            </mat-card-content>

            <mat-divider></mat-divider>
            
            <!-- CARD ACTION SECTIONS -->
            <mat-card-actions>
                <button mat-button>{{comp.linkDemo.title}}</button>
                <button mat-button>{{comp.linkSource.title}}</button>
                <button mat-button>{{comp.linkYoutube.title}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>