
<!-- PAGE CONTENT -->
<div fxLayout="row" fxLayoutAlign="center start" [style.margin-top]="marginTop? '60px' : '0px'">
  
    <div fxFlex="60" fxFlex.lt-md="100"  fxLayout="column">
        <mat-toolbar color="primary" >  
            <mat-toolbar-row>
                <section class="mat-typography">
                    <span class="mat-subheading-2" style="white-space: normal;">
                        Using CSS Flexbox Layout - Center Align Element Across Axis
                    </span>
                </section>  
            </mat-toolbar-row>
        </mat-toolbar> 


        <mat-card>
            <mat-card-content>
                <article class="mat-typography">
                    <p class="mat-subheading-2">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </article>

                <section>
                    <pre><code highlight [code]="common.code1"></code></pre>
                </section>

                <section>
                    <pre><code highlight [code]="common.code2"></code></pre>
                </section>
            </mat-card-content>
          
            <!-- CARD ACTION SECTIONS -->
            <mat-card-actions fxShow.xs="true" fxHide.gt-xs="true">
                <button mat-button>LIVE</button>
                <button mat-button>SOURCE</button>
                <button mat-button>YOUTUBE</button>
            </mat-card-actions>

            <mat-card-actions fxHide.xs="true" fxShow.gt-xs="true">
              <button mat-button>LIVE DEMO</button>
              <button mat-button>SOURCE CODE</button>
              <button mat-button>WATCH AT YOUTUBE</button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>